{% extends 'base.html' %}
{% load static %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/create/css/style.css' %}">
{% endblock %}

{% block content %}

    <div class="container">
        <form id="addproduct" enctype="multipart/form-data">          
            {% csrf_token %}  
            <div class="leftside">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="product_name">Product Name</label>
                        <input type="text" class="form-control" id="product_name" placeholder="Product">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="product_image">Product Image</label>
                        <input type="file" class="form-control-file" id="product_image">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description">Product Description</label>
                    <input type="text" class="form-control" id="description">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="location">Product Location</label>
                        <input type="text" class="form-control" id="location" placeholder="ex: Manila">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="quantity">Quantity</label>
                        <input type="text" class="form-control" id="quantity">
                    </div>
                </div>      
                <div class="form-row">
                    <div class="form-group col-md-4 ml-4">
                        <input class="form-check-input" type="checkbox" value="" id="is_avalable" checked>
                        <label class="form-check-label" for="is_avalable">Available</label>
                    </div>  
                    <div class="form-group col-md-4">
                        <input class="form-check-input" type="checkbox" value="" id="is_discounted" onclick="enable_discount()">
                        <label class="form-check-label" for="is_discounted">Discounted</label>
                    </div>                      
                </div>                 
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" id="price" onchange="setTwoNumberDecimal" min="0" max="10" step="0.25" value="0.00">
                    </div>                    
                    <div class="form-group col-md-4">
                        <label for="shipping_fee">Shipping Fee</label>
                        <input type="text" class="form-control" id="shipping_fee" onchange="setTwoNumberDecimal" min="0" max="10" step="0.25" value="0.00">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="discount">Discount</label>
                        <input type="text" class="form-control" id="discount" onchange="setTwoNumberDecimal" min="0" max="10" step="0.25" value="0.00">
                    </div>
                </div>               
                <button type="submit" class="btn btn-primary" onclick="addProduct()">Add Product</button>
            </div>
            
            <label class="ml-2" for="categories">
                Categories
            </label>
            <div class="scrollable">                 
                {% for category in categories %}               
                    <div class="form-check" id="category">
                        <input class="form-check-input categorycb" type="checkbox" value="{{ category.id }}" id="product_category">
                        <label class="form-check-label" for="product_category">
                            {{ category.category }}
                        </label>
                        {% for sub_category in sub_categories %}
                            {% if sub_category.category == category %}
                                <div class="form-check" id="sub_category">
                                    <input class="form-check-input" type="checkbox" value="{{ sub_category.id }}" id="product_subcategory">
                                    <label class="form-check-label" for="product_subcategory">
                                        {{ sub_category.subcategory }}
                                    </label>
                                </div>
                            {% endif %}
                        {% endfor %}             
                    </div>             
                {% endfor %}
            </div>            
        </form>                      
    </div>
    
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'products/create/js/create.js' %}"></script>
{% endblock %}