{% extends 'base.html' %}
{% load static %}


{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}
{% block content %}
  
  <div class="container" id="check_owned">    
    <input  type="hidden" value="{{ request.user.id }}" id="auth_user">
    <a href="{% url 'products:createproduct' user.id %}" class="btn btn-dark">
      Add Product
    </a>
    <h3 class="mt-4">Products</h3>
    <hr>
    <div class="row" id="owned">          
    </div>
    <form>
      {% csrf_token %}
    </form>  
    <br>    
  </div>
  
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'products/js/owned.js' %}"></script>
{% endblock %}
