{% extends 'base.html' %}
{% load static %}

{% block head%}
  <link rel="stylesheet" type="text/css" href="{% static 'products/css/status.css' %}">
{% endblock %}

{% block content %}
<div class="container" id="status">
  <input  type="hidden" value="{{ request.user.id }}" id="auth_user">
  <div class="row">    
    <div class="col-md-5">
      <h4>Stock</h4>
      <table class="table table-hover text-center">
        <thead>
          <tr>            
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>            
            <th scope="col">Stockin Value</th>
            <th scope="col"></th> 
  
          </tr>
        </thead>
        <tbody id="product-stock">
          
        </tbody>
      </table>
    </div>
    <div class="col-md-7">
      <h4>Orders</h4>
      <table class="table table-hover text-center">
        <thead>
          <tr>            
            <th scope="col">Product</th>
            <th scope="col">Quantity</th>            
            <th scope="col">Date Ordered</th> 
            <th scope="col">Status</th>
            <th scope="col">Ship Duration</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="product-status">
          
        </tbody>
      </table>
    </div>
  </div>      
</div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'products/js/status.js' %}"></script>
{% endblock %}