{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/view/css/view.css' %}">       
{% endblock %}


{% block content %}
<div class="product" id="productpage">
    <input type="hidden" id="product_id" value="{{ view.kwargs.pk }}">
    <input  type="hidden" value="{{ request.user.id }}" id="auth_user">
    <p>{{ view.kwargs.seller }}</p>    
</div>
{% csrf_token %}
{% endblock %}


{% block extra_js %}
    <script type="text/javascript" src="{% static 'products/view/js/view.js' %}"></script>
{% endblock %}