{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class=container>    
    <input  type="hidden" value="{{ request.user.id }}" id="auth_user">
    <nav class="navbar navbar-light justify-content-center mt-4">
        <div class="form-inline">            
            <label for="category">Category &nbsp;</label>
            <select class="form-control text-center" id="category">
                <option value="">All</option>                
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>  
            <label for="subcategory">&nbsp; Subcategory &nbsp;</label>
            <select class="form-control text-center" id="subcategory">
                <option value="">All</option>
                {% for subcategory in sub_categories %}
                    <option value="{{ subcategory.name }}">{{ subcategory.name }}</option>
                {% endfor %}
            </select>  
            &nbsp;          
            <!-- <button type="button" class="btn btn-primary btn-lg mr-3" id="btnSort">Sort</button> -->
            
            <input class="form-control mr-sm-2" type="search" placeholder="Search Product" aria-label="Search" id="search" onchange="search()">            
        </div>
    </nav>
    <br>
    <h3>Featured Items </h3>
    <hr>
    <div class="row layout-margin-8 mt-4">  
        <div class="card-deck" id="featured">

        </div>
    </div>          
    <br>    
    <h3>Most Popular</h3>
    <hr>
    <div class="row layout-margin-8 mt-4">  
        <div class="card-deck" id="popular">

        </div>
    </div>          
    <br>   
    <h3>Sale Items</h3>
    <hr>
    <div class="row layout-margin-8 mt-4">  
        <div class="card-deck" id="sale">

        </div>
    </div>          
    <br>   
    <h3>Category</h3>    
    <hr>
    <div class="row layout-margin-8 mt-4">  
        <div class="card-deck" id="categories">

        </div>
    </div>  
</div>


{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}  