{% extends 'base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% endblock %}

{% block content %}
<div class=container>    
    <input  type="hidden" value="{{ request.user.id }}" id="auth_user">
    <nav class="navbar navbar-light justify-content-center mt-4">
        <form class="form-inline">
            <!-- <button type="button" class="btn btn-primary btn-lg mr-3" id="btnSort">Sort</button> -->
            <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Search Product" aria-label="Search" id="search">            
        </form>
    </nav>
    <br>
    <h3>Featured Items </h3>
    <hr>
    <div class="row layout-margin-8 mt-4">  
        <div class="card-deck" id="featured">

        </div>
    </div>          
    <br>    
    <h3>Most Popular</h3>
    <hr>
    <div class="row layout-margin-8 mt-4">  
        <div class="card-deck" id="popular">

        </div>
    </div>          
    <br>   
    <h3>Sale Items</h3>
    <hr>
    <div class="row">  
       
    </div>          
    <br>   
    <h3>Category</h3>    
    <hr>
    <div class="row">        
        
        <div>
        </div>
    </div>    
</div>


{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'main.js' %}"></script>
{% endblock %}  