{% include 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/ordered/css/ordered.css' %}">   
{% endblock %}

{% block content %}
<div class="container">
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
      <div class="col-md-8">
        <div class="p-2">
            <h4>Shopping cart</h4>              
        </div>       
        <div id="usercart">

        </div>
        
        <div id="totalprice" class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
          
        </div>        
        <div id="updatebtn" class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
          <button type="submit" class="btn btn-warning btn-block btn-lg ml-2 pay-button text-white" onclick="add_payment()">Proceed to Pay</button>
        </div>
      </div>
    </div>  
  </div>  
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'products/ordered/js/ordered.js' %}"></script>    
{% endblock %}