{% include 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container" id="user_list">
    <table class="table table-hover text-center">
        <thead>
          <tr>            
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>            
            <th scope="col">Is Seller</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody id="userlist">
          
        </tbody>
    </table>
</div>
{% endblock %}

{% block extra_js %}
  <script type="text/javascript" src="{% static 'users/list/js/userlist.js' %}"></script>
{% endblock %}