{% include 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'products/css/ordered.css' %}">   
{% endblock %}

{% block content %}
<div class="container">
  <input  type="hidden" value="{{ request.user.id }}" id="auth_user">
  <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">      
      <div class="col-md-8" id="cart">
        <div class="p-2">
            <h4>Shopping cart</h4>              
        </div>                    
        <div id='error' class='alert alert-danger' role='alert' style="display: none">            
        </div>
        <div>          
          <div id="usercart">

          </div>          
        </div>         
        <hr>
        <div class="offset-md-6">
          <p>Discount: <span id="discount" class="ml-5"></span></p>
          <p>Shipping Fee: <span id="fee" class="ml-3"></span></p>
          <h5>Total: <span id="total" class="ml-5"></span></h5>
        </div>
        
        <div id="totalprice" class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
          
        </div>        
        <div id="checkout" class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
          <button type="button" class="btn btn-warning btn-block btn-lg ml-2 pay-button text-white" data-toggle="modal" data-target="#deleteModal">Proceed to Pay</button>

          <div class='modal fade bd-example-modal-sm' id='deleteModal' tabindex='-1' role='dialog'>
            <div class='modal-dialog modal-dialog-centered' role='document'>
                <div class='modal-content'>
                    <div class='modal-body'>
                        Do you want to checkout?
                    </div>
                    <div class='modal-footer'>
                        <button type='button' class='btn btn-secondary text-white' data-dismiss='modal'>Close</button>
                        <a href="{% url 'users:payment' user.id %}" role='button' class='btn btn-warning' onclick="create_order()">Checkout</a>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>  
</div>

{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'products/js/ordered.js' %}"></script>    
    <script type="text/javascript" src="{% static 'products/js/item_count.js' %}"></script>
{% endblock %}