{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'users/css/view_user.css' %}">
{% endblock %}

{% block content %}
<div class="container">
  {% if request.user.is_superuser %}
  <div id="userpage" class="text-center">

  </div>
  <br>
  <h3>Products</h3>
  <hr>
  <br>
  <div class="row" id="owned">
  
  </div>
  <br>
  <h3>Cart</h3>
  <hr>
  <div id="cart" class="text-center m-4">
    <table class="table table-hover">
      <thead>
        <tr>            
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>            
          <th scope="col">Subtotal</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody id="usercart">
        
      </tbody>
    </table>
  </div>  
  <br>
  <h3>Orders</h3>   
  <hr> 
  <div id="order" class="text-center m-4">
    <table class="table table-hover">
      <thead>
        <tr>            
          <th scope="col">Product</th>
          <th scope="col">Quantity</th>            
          <th scope="col">Date Ordered</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody id="orders">        
      </tbody>
    </table>
  </div>  
  <br>
  <br>  
  {% else %}
  <div class="text-center">
    You are not allowed to view this page
  </div>  
  {% endif %}  
  
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'users/js/view_user.js' %}"></script>    
{% endblock %}

